@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("https://fonts.googleapis.com");
    font-style: normal;
    font-weight: 500;
    font-weight: 600;
}

body {
    /* background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url(https://images.pexels.com/photos/919606/pexels-photo-919606.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top; */
    font-family: "Montserrat";
}

.nav {
    color: #828282;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}

#home {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.line {
    margin-top: 15px;
   }

.top-text {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 15px;
}

.name {
    font-size: 48px;
    font-weight: 600;
    margin-left: 15px;
    text-align: center;
}

.info {
    margin-top: 80px;
}

.lang {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-bottom:30px;
    font-weight: 600;
    text-align: center;
}

p {
    text-align: center;
}

.about {
    background-color: #F6F6F6;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 3;
}

.skills {
    background-color: white;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.skills p {
    margin-top: 50px;
}

.programms {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.figma-name {
    position: relative;
    bottom: -20px;
}

.rate {
    position: relative;
    bottom: -20px;
}

.portfolio {
    background-color: #F6F6F6;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 3;
}

.store {
    color: black;
}

.reebok {
    margin-top: 100px;
}

.braun {
    margin-top: 100px;
}

.contacts {
    background-color: white;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contacts-text {
    padding-top: 25px;
}

button {
    margin-top: 25px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background: black;
    box-shadow: #828282;
    transition: 0.2s;
}

button:hover {
    background: rgb(44, 49, 47);
}

button:active {
    background: rgb(145, 151, 148);
    box-shadow: #828282 inset;
}

.social {
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.signature {
    text-align: center;
    margin-top: 15px;
    color: #828282;
}

